{% extends 'accounts/main.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style >

	.text-center{
		
		
		padding: 100px;
	
		

	}
</style>




    <div class="content-section ">
    	<div class="d-flex justify-content-center form_container">
    		<div class="card text-center">
    		
			  	
		               	
		        <form method="POST" >
		        	
		            {% csrf_token %}
		            <fieldset class=" form-group">
		            	<span class="border border-success">
				            Reset Password 
				        </span>
			             
		             	{{ form|crispy }}


		                

		            </fieldset>
			       
        		    <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
        		 </form>
        	
  

					        
				               
					     
					            
			       
			    
			</div>
	    </div>
    </div>

{% endblock content %}
